<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <!--<add key="projectLanguage" value="C#"/>
  <add key="sourceProjectFolder" value="C:\testpropagation\UnitTestScribe\Subjects\SrcML.NET"/>-->
  <add key="projectLanguage" value="Java"/>
  <add key="sourceProjectFolder" value="C:\Users\muka\repos\testpropexample\mainline"/>
  <add key="targetProjectFolder" value="C:\Users\muka\repos\testpropexample\fork"/>
  <add key="srcMLexeFolder" value="C:\testpropagation\UnitTestScribe\SrcML\"/>
  <add key="srcMLTestCaseTempFolderSourceProject" value="C:\testpropagation\testCaseTempS"/>
  <add key="srcMLTestCaseTempFolderTargetProject" value="C:\testpropagation\testCaseTempT"/>
  <add key="srcMLCallGraphOutputFolder" value="C:\testpropagation\callGraphTemp.html"/>
  <add key="allowedFileExtensions" value=".cs,.java,.c,.cpp"/>
  <add key="testCaseAnnotationPattern" value="Annotation"/> <!--other value is "Attribute" used in C#, e.g., [Test], where as Java uses "Annotation" e.g.,  @Test-->
  <add key="testCaseAnnotationNames" value="Test,TestCase,TestMethod,Theory,Fact"/> <!--names-->
</appSettings>
</configuration>